.navbar-container{
  position: fixed;
  left: 0;
  height: 100%;
  width: 100px;
  background-color: orange;
  display: flex;
  justify-content: center;
  box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.45);
  z-index: 2;
  }

.navbar-button-container{
  display: flex;
	flex-direction: column;
}

.profile-pic{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  margin-top: 50px;
  box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.45);
}

.home-logo{
  width: 40px;
  position:fixed;
  top: 200px;
}

.new-logo{
  width: 40px;
  position:fixed;
  top: 280px;
}
.log-out-button{
  position: fixed;
  bottom: 25px;
   width: 40px;
}